{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Estore </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="static/site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/assets/css/flaticon.css">
            <link rel="stylesheet" href="static/assets/css/slicknav.css">
            <link rel="stylesheet" href="static/assets/css/animate.min.css">
            <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="static/assets/css/slick.css">
            <link rel="stylesheet" href="static/assets/css/nice-select.css">
            <link rel="stylesheet" href="static/assets/css/style.css">
   </head>

   <body>
       
    

    <header>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="static/index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav class="navbar-navbar-expand-sm bg-white fixed-top">  
                                                                                    
                                        <ul id="navigation">    
                                            <img src="static/assets/img/logo/logo.png">
                                                                                                                                                                           
                                            <li><a href="category">MANAGE CATEGORY</a></li>
                                            <li><a href="subcategory">MANAGE SUBCATEGORY</a></li>
                                             <li><a href="addclient"><font color="blue">ADD CLIENT</a></li> 
                                            <li><a href="addcustomer">ADD CUSTOMER</a> </li>
                                            <li><a href="addstaff">ADD STAFF</a> </li>
                                            <li><a href="stock">STOCKS</a> </li>
                                            {% comment %} <li><a href="saleassign?id={{d.0}}">SALE ASSIGN</a></li> {% endcomment %}
                                            {% comment %} <li><a href="billing1?id={{d.0}}">BILLING</a></li> {% endcomment %}
                                            <li><a href="sale">SALE</a></li>
                                            <li><a href="index">LOGOUT</a></li></ul>
                                            </nav>
                                    
                                            
                            
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
    </header>


 <br><br><br><br><br><br>  





 <div class="container contact">
  <div class="row">
      <div class="col-md-2">
        
        <form method='post' enctype="multipart/form-data">
          
          {% csrf_token %}
          <div class="contact-info">
              <img src="static/assets/img/hero/h1_hero.jpg" width="1100px" height="800px"alt="image"/>
               
              
          </div>
      </div>
      <div class="col-md-10">
          <div class="contact-form">
              <div class="form-group">
                <h5>ADD CLIENT HERE....!</H5>
                <label class="control-label col-sm-2" for="ct">name:</label>
                <div class="col-sm-10">          
                  <input type="text" class="form-control" id="n" placeholder="Enter your name" name="n" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="e">email:</label>
                <div class="col-sm-10">          
                  <input type="email" class="form-control" id="e" placeholder="Enter your email" name="e"  required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="p">password:</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="p" placeholder="Enter password" name="p"  required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="g">state</label>
                <div class="col-sm-10">          
                  <input type="text" class="form-control" id="g" placeholder="Enter your state" name="s"  required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="mo">mobno:</label>
                <div class="col-sm-10">          
                  <input type="text" class="form-control" id="mo" placeholder="Enter your mobile number" name="m"  required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="f">logo:</label>
                <div class="col-sm-10">          
                  <input type="file" class="form-control" id="f" placeholder="upload your logo" name="f"  required>
                </div>
              </div>
             <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">ADD</button>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
</form><br><br>
<div class="container-fluid">
  <div class="row">
    {% for i in data %}
      <div class="col-lg-3 col-md-3">
  <img src="static/upload/{{i.6}}"height="100px" width="130px"></a><br> 
  <h4><font color="blue">{{i.1}}</font></h5></a>
</div>
  {% endfor %}
</div>
</div>
</body>
</html> 






