{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Estore </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="static/site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/assets/css/flaticon.css">
            <link rel="stylesheet" href="static/assets/css/slicknav.css">
            <link rel="stylesheet" href="static/assets/css/animate.min.css">
            <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="static/assets/css/slick.css">
            <link rel="stylesheet" href="static/assets/css/nice-select.css">
            <link rel="stylesheet" href="static/assets/css/style.css">
   </head>

   <body>
       
    

    <header>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="static/index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav class="navbar-navbar-expand-sm bg-white fixed-top">  
                                                                                    
                                        <ul id="navigation">    
                                            <img src="static/assets/img/logo/logo.png">
                                            <li><a href="index">HOME</a> 
                                                <li><a href="staffhome">STAFFHOME</a></li>                                                                                                                                
                                              <li><a href="category">MANAGE CATEGORY</a></li>
                                              <li><a href="subcategory">MANAGE SUBCATEGORY</a></li>
                                              <li><a href="addcustomer">ADD CUSTOMER</a> </li>
                                              <li><a href="stock">STOCKS</a> </li>
                                              <li><a href="target">SALE TARGET</a> </li>
                                    
                                            <li><a href="index">LOGOUT</a></li></ul>
                                           
                                            </nav>
                                    
                                            
                            
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>

    </header>
       {% comment %} <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            {% comment %} <img src="" alt="car-key" border="0"> {% endcomment %}
                            {% comment %} <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p> {% endcomment %}
                            {% comment %} <form  method="post" id="register-form" role="form" autocomplete="off" class="form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="p">
                                            <option selected="true" disabled="disabled">select product</option>
                                            <option>classmate book 180 pages</option>
                                            <option>camilin pencil</option>
                                            <option>camilin book 200 pages</option>
                                            <option>parker blue pen</option>
                                            <option>parker red pen</option>
                                            <option>apsara pencil</option>
                                            <option>apsara book 100 pages</option>
                                            <option>camilin blue pen</option>
                                            <option>camilin black pen</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="q" name="q" placeholder="quantity" class="form-control"  type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="pr" name="pr" placeholder="price" class="form-control"  type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input name="btnForget" class="btn btn-lg btn-primary " value="submit" type="submit">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  {% endcomment %}

    <br><br><br><br>
    <div class="container forget-password">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="static/assets/img/hero/book.png" width="400px" height="400px" alt="image" border="0">
                            <h2 class="text-center">BILL</h2>
                            <p></p>
                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                              {% csrf_token %}
                                 <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" name="p" required>
                                            <option selected="true" disabled="disabled">product</option>
                                            {% for i in d8 %}
                                            <option>{{i.2}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input  name="q" placeholder="quantity" class="form-control"  type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input  name="pr" placeholder="price" class="form-control"  type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="btnForget" class="btn btn-lg btn-primary " value="BILL" type="submit">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

          
      </body>
    
    </html>
          
                    

        <!-- All JS Custom Plugins Link Here here -->
        <script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="static/assets/js/popper.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="static/assets/js/owl.carousel.min.js"></script>
        <script src="static/assets/js/slick.min.js"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="static/assets/js/wow.min.js"></script>
		<script src="static/assets/js/animated.headline.js"></script>
        <script src="static/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="static/assets/js/jquery.nice-select.min.js"></script>
		<script src="static/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="static/assets/js/contact.js"></script>
        <script src="static/assets/js/jquery.form.js"></script>
        <script src="static/assets/js/jquery.validate.min.js"></script>
        <script src="static/assets/js/mail-script.js"></script>
        <script src="static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="static/assets/js/plugins.js"></script>
        <script src="static/assets/js/main.js"></script>
      </body>
    
    </html>
    

