
<div class="header-bottom  header-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                <div class="logo">
                  <a href="static/index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block">
                    <nav>                                                
                        <ul id="navigation">                                                                                                                                     
                            <li><a href="static/index.html">Home</a></li>
                            <li><a href="static/Catagori.html">Catagori</a></li>
                            <li class="hot"><a href="static/#">Latest</a>
                                <ul class="submenu">
                                    <li><a href="static/product_list.html"> Product list</a></li>
                                    <li><a href="static/single-product.html"> Product Details</a></li>
                                </ul>
                            </li>
                            <li><a href="static/blog.html">Blog</a>
                                <ul class="submenu">
                                    <li><a href="static/blog.html">Blog</a></li>
                                    <li><a href="static/single-blog.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="static/#">Pages</a>
                                <ul class="submenu">
                                    <li><a href="static/login.html">Login</a></li>
                                    <li><a href="static/cart.html">Card</a></li>
                                    <li><a href="static/elements.html">Element</a></li>
                                    <li><a href="static/about.html">About</a></li>
                                    <li><a href="static/confirmation.html">Confirmation</a></li>
                                    <li><a href="static/cart.html">Shopping Cart</a></li>
                                    <li><a href="static/checkout.html">Product Checkout</a></li>
                                </ul>
                            </li>
                            <li><a href="static/contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div> 