{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Estore </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="static/site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/assets/css/flaticon.css">
            <link rel="stylesheet" href="static/assets/css/slicknav.css">
            <link rel="stylesheet" href="static/assets/css/animate.min.css">
            <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="static/assets/css/slick.css">
            <link rel="stylesheet" href="static/assets/css/nice-select.css">
            <link rel="stylesheet" href="static/assets/css/style.css">
   </head>

   <body>
       
    

    <header>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="static/index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav class="navbar-navbar-expand-sm bg-white fixed-top">  
                                                                                    
                                        <ul id="navigation">    
                                            <img src="static/assets/img/logo/logo.png">
                                            <li><a href=""><font color="blue">HOME</a>                                                                                                                                 
                                            
                                            
                                            
                                            <li><a href="billing1?id={{d.0}}">MY PURCHASES</a></li>
                                            
                                            <li><a href="index">LOGOUT</a></li></ul>
                                            </nav>
                                    
                                            
                            
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
    </header>
    <br><br><br>
    <div class="card">
        <div class="card-body">
          <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
              <div class="col-xl-9">
                {% for i in d %}
                <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>{{i.2}}</strong></p>
              </div>
              
              {% comment %} <div class="col-xl-3 float-end">
                <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                    class="fas fa-print text-primary"></i> Print</a>
                <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
                    class="far fa-file-pdf text-danger"></i> Export</a>
              </div> {% endcomment %}
              <hr>
            </div>
      
            <div class="container">
              <div class="col-md-12">
                <div class="text-center">
                  <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                  <p class="pt-0">BILL</p>
                </div>
      
              </div>
      
      
              <div class="row">
                {% for i in d1 %}
                <div class="col-xl-8">
                  <ul class="list-unstyled">
                    <li class="text-muted">TO: <span style="color:#5d9fc5 ;">{{i.2}}</span></li>
                    
                    <li class="text-muted"><i class="fas fa-phone"></i>{{i.3}}</li>
                    
                  </ul>
                </div>
                <div class="col-xl-4">
                  <p class="text-muted">INVOICE</p>
                  <ul class="list-unstyled">
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="fw-bold">STAFF DEALED  :  </span>{{i.6}}</li>
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="fw-bold">CREATION DATE : </span>{{i.4}}</li>
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="me-1 fw-bold">STATUS  :</span><span class="badge bg-warning text-black fw-bold">
                        paid</span></li>
                  </ul>
                </div>
              </div>
              
              <div class="row my-2 mx-1 justify-content-center">
                
                <table class="table table-striped table-borderless">
                  <thead style="background-color:#84B0CA ;" class="text-white">
                    <tr>
                      <th scope="col">INDX NO</th>
                      <th scope="col">PRODUCT</th>
                      <th scope="col">QUANTITY</th>
                      <th scope="col"> PRICE</th>
                      <th scope="col">TOTAL AMOUNT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
