{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Estore </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="static/site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/assets/css/flaticon.css">
            <link rel="stylesheet" href="static/assets/css/slicknav.css">
            <link rel="stylesheet" href="static/assets/css/animate.min.css">
            <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="static/assets/css/slick.css">
            <link rel="stylesheet" href="static/assets/css/nice-select.css">
            <link rel="stylesheet" href="static/assets/css/style.css">
   </head>

   <body>
       
    

    <header>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="static/index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav class="navbar-navbar-expand-sm bg-white fixed-top">  
                                                                                    
                                        <ul id="navigation">    
                                            <img src="static/assets/img/logo/logo.png">
                                            <li><a href="index">HOME</a>                                                                                                                                 
                                              <li><a href="category">MANAGE CATEGORY</a></li>
                                              <li><a href="subcategory">MANAGE SUBCATEGORY</a></li>
                                              <li><a href="addcustomer">ADD CUSTOMER</a> </li>
                                              <li><a href="stock">STOCKS</a> </li>
                                              <li><a href="target">MY TARGET</a> </li>
                                            <li><a href="index">LOGOUT</a></li></ul>
                                            </nav>
                                    
                                            
                            
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>

       <br><br><br><br><br><br><br>
<body>
    {% comment %} <span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
      <thead>
        <tr>
          <th>id</th>
          <th class="col-md-5 col-xs-5">name</th>
          <th class="col-md-4 col-xs-4">target</th>
          
        </tr>
        
    </thead>
      <tbody>
        {% for i in data %}
        <tr>
          <td>{{i.0}}</td>
          <td>{{i.1}}</td>
          <td>{{i.2}}</td>
         
        </tr>
        {% endfor %}
    </tbody> 
</table>  {% endcomment %}
<div class="container">
                      
                                
  <div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title m-b-0">SALE TARGET</h5>
          </div>
              <div class="table-responsive">
                  <table class="table">
                      <thead class="thead-light">
                          <tr>
                             
                              <th scope="col">ID</th>
                              <th scope="col">NAME</th>
                              <th scope="col">TARGET</th>
                              <th scope="col">BALANCE</th>
                              
                          </tr>
                      </thead>
                      
                      <tbody class="customtable">
                        {% for i in d1 %}
                          <tr>
                              <td>{{i.0}}</td>
                              <td>{{i.1}}</td>
                              <td>{{i.2}}</td>
                              <td>{{i.3}}</td>
                              </tr>
                              {% endfor %}
                          {% comment %} <tr>
                              <th>
                                  <label class="customcheckbox">
                                      <input type="checkbox" class="listCheckbox">
                                      <span class="checkmark"></span>
                                  </label>
                              </th>
                              <td>USA</td>
                              <td>Internet Explorer</td>
                              <td>Win 2010</td>
                              <td>10</td>
                          </tr>
                          <tr>
                              <th>
                                  <label class="customcheckbox">
                                      <input type="checkbox" class="listCheckbox">
                                      <span class="checkmark"></span>
                                  </label>
                              </th>
                              <td>UK</td>
                              <td>Safari</td>
                              <td>Mac OS</td>
                              <td>16</td>
                          </tr>
                          <tr>
                              <th>
                                  <label class="customcheckbox">
                                      <input type="checkbox" class="listCheckbox">
                                      <span class="checkmark"></span>
                                  </label>
                              </th>
                              <td>UAE</td>
                              <td>Google Chrome</td>
                              <td>Win 2013</td>
                              <td>76.12</td>
                          </tr>
                          <tr>
                              <th>
                                  <label class="customcheckbox">
                                      <input type="checkbox" class="listCheckbox">
                                      <span class="checkmark"></span>
                                  </label>
                              </th>
                              <td>Canada</td>
                              <td>Internet Explorer</td>
                              <td>Win 2010</td>
                              <td>10</td>
                          </tr>
                          <tr>
                              <th>
                                  <label class="customcheckbox">
                                      <input type="checkbox" class="listCheckbox">
                                      <span class="checkmark"></span>
                                  </label>
                              </th>
                              <td>Turkey</td>
                              <td>Internet Explorer 8</td>
                              <td>Win 2010</td>
                              <td>8</td>
                          </tr> {% endcomment %}
                      </tbody>
                  </table>
              </div>
      </div>
  </div>
</div>

 </div> 
        
    </body>
</html>