<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Estore </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="static/site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/assets/css/flaticon.css">
            <link rel="stylesheet" href="static/assets/css/slicknav.css">
            <link rel="stylesheet" href="static/assets/css/animate.min.css">
            <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="static/assets/css/slick.css">
            <link rel="stylesheet" href="static/assets/css/nice-select.css">
            <link rel="stylesheet" href="static/assets/css/style.css">
   </head>

   <body>
       
    

    <header>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="static/index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav class="navbar-navbar-expand-sm bg-white fixed-top">  
                                                                                    
                                        <ul id="navigation">    
                                            <img src="static/assets/img/logo/logo.png">
                                            <li><a href="index">HOME</a>                                                                                                                                 
                                              <li><a href="adminhome">ADMIN HOME</a></li>
                                            <li><a href="index">LOGOUT</a></li></ul>
                                            </nav>
                                    
                                            
                            
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
      </header>
      <br><br><br><br>
       <body>
        
         {% comment %} <div class="form-group pull-right">
            <input type="text" class="search form-control" placeholder="What you looking for?">
        </div> {% endcomment %}
        
        <span class="counter pull-right"></span>
        <table class="table table-hover table-bordered results">
          <thead>
            <tr>
             
              <th class="col-md-2 col-xs-2">BILLID</th>
              <th class="col-md-3 col-xs-2">DATE</th>
              <th class="col-md-3 col-xs-3">BILLNO</th>
              <th class="col-md-3 col-xs-3">PRODUCT</th>
              <th class="col-md-3 col-xs-3">QUANTITY</th>
              <th class="col-md-3 col-xs-3">PRICE</th>
              <th class="col-md-3 col-xs-3">TOTALPRICE</th>
              <th class="col-md-3 col-xs-3">DETAILS</th>
              </tr>
        </thead>
          <tbody>
            {% for i in d %}
            <tr>
              <th>{{i.0}}</th>
              <td>{{i.1}}</td>
              <td>{{i.2}}</td>
              <td>{{i.3}}</td>
              <td>{{i.4}}</td>
              <td>{{i.5}}</td>
              <td>{{i.6}}</td>
              <td><a href="details?id={{i.0}}"><font color="blue">bill</a></td>
             </tr>
            {% endfor %}
            
            
            
            
          </tbody>
        </table> 
</body>
</html>